<!--
// Лабораторная работа №2 по дисциплине ЛОИС
// Выполнена студентом группы 021731 БГУИР Шаповалов Д.С
// -----------------------------------------
// Данный файл реализует интерфейс приложения:
// текстовое поле + кнопка для ввода формулы
//
// 01.04.2023
-->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shapovalov_Denis_LOIS_2</title>
    <link rel="stylesheet" href="{% static 'css/zeroing.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">            
            <div class="block_text_input">
                <input type="text" id="text_input">
            </div>
            <button id="button_text_input">Обработать</button>
            <p id="answer">Answer</p>
        </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>