.container{
    max-width: 1140px;
    margin: 0px auto;
}

body{
    background: rgb(91,89,112);
    background: linear-gradient(90deg, rgba(91,89,112,1) 0%, rgba(134,134,148,1) 35%, rgba(62,96,103,1) 100%);
    animation: gradient 180s ease infinite;background-size: 400% 400%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}

.block_text_input{
    margin-bottom: 40px;
}

#text_input{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 75px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 25px;
    row-gap: 40px;
}
#button_text_input{
    height: 40px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: antiquewhite;
    font-size: 20px;
    transition: all 0.5s ease;
    margin-bottom: 40px;
}
#answer{
    font-size: 40px;
    background-color: antiquewhite;
    color: black;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    
}
#button_text_input:hover {
    box-shadow: -2px -2px 46px 1px rgba(197,219,218,1);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
